/*********************************************************************** FIRST SECTION ***************************************************************/
@font-face {
    font-family: 'Lato Regular';
    src: url('../css/fonts/lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato Black';
    src: url('../css/fonts/lato/Lato-Black.ttf');
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../css/fonts/lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato Medium';
    src: url('../css/fonts/lato/Lato-Medium.ttf');
}
@font-face {
    font-family: 'Lato Semibold';
    src: url('../css/fonts/lato/Lato-Semibold.ttf');
}

#free-account {
  background: url('../images/smoke1.png') no-repeat -200% 120%,
               url('../images/smoke.png') no-repeat 300% -120%;
  background-color:  #fafdfe;
  background-size: 80%;
  height: 100%;
}
.container-fluid {
  padding: 0 !important;
}
#free-account .caption-text {
  text-align: center;
  margin-top: 35px;
}
#free-account .caption-text .untitle {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 0 !important;
  font-family: 'Lato Black';
}
h3 {
  color: #4996ca;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-family: 'Lato Black';

}
#regForm {
  background-color: #fff;
  margin: 10px auto;
  font-family: Lato;
  width: 50%;
  min-width: 200px;
  box-shadow: 0px 0px 10px 0px #e1e3e4;
  border: none;
  height: auto;
  margin-bottom: 100px;
}

#free-account .subtitle {
  font-size: 16px;
  color: #676b6d;
  font-family: 'Lato Regular';

}
#regForm input {
  padding: 10px;
  font-size: 17px;
  font-family: 'Lato';
  border: 1px solid #aaaaaa;
}

#regForm input.invalid {
  background-color: #ffdddd;
}

#regForm .tab {
  display: none;
}
.step {
  height: 40px;
  width: 40px;
  margin: 0;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #4996ca;
  border-radius: 50%;
  display: inline-block;
  color: #4996ca;
  font-family: 'Lato Regular';
}
.hline {
  width: 45px;
  height: 1px;
  background-color: #4996ca;
  margin:auto 0 !important;
  height: 2px;
}

.step.active {
    font-family: 'Lato Regular';
  color: #fff;
  background-color: #4996ca;

}

/* Mark the steps that are finished and valid: */
.step.finish {
  color: #fff;
  background-color: #4996ca;
}
.paginfInfo {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;

}
#regForm .tabtitle {
  padding: 10px 0;
  margin-left: 25%;
  font-family: 'Lato Medium';
}
#regForm .input-fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

}
#regForm  .input-fields {
  flex-direction: column;

}
#regForm  .input-fields  input{
  margin: 10px 10px;
  width: 50%;
  font-family: 'Lato Medium';
}
/***************************** ARROWS BUTTONS ****************************/
.inst-btn {
  width: 50px;
  text-transform: uppercase;
  background:none;
  color: #4996ca !important;
  outline: 0 !important;
  font-size: 16px;
  padding: 0;
  border: none;
}
#wrapper3 .inst-btn {
  width: 100px;
  text-transform: uppercase;
  background:none;
  color: #4996ca !important;
  outline: 0 !important;
  font-size: 16px;
  padding: 0;
  border: none;
}
#wrapper1 {
  float: right;
}
#wrapper1:before{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
#wrapper2:before{
  content:" ";
  display:inline-block;
}
#wrapper2:after{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
#wrapper2:after{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
#wrapper3:after,
#wrapper3:before{
  content:" ";
  width: 20px;
  height: 2px;
  vertical-align: super;
  background-color:#4996ca;
  display:inline-block;
}
.right-arr {
  font-size: 40px;
  color: #4996ca;
}
#wrapper2 .right-arr {
  margin-right: -6px;
}
#regForm .buttons-arrows {
  flex-wrap: wrap;
  padding: 0 180px;
}
#regForm .places .tabtitle2{
  margin-left: 14%;
  padding: 20px 0;
  font-family: 'Lato Medium';
}

#regForm .places .input-fields2{
  margin-left: 10%;
}
#regForm .places div label{
  padding-left: 15px;
  font-family: 'Lato Medium';
}
#regForm #wrapper3 {
  display: none;
  margin: 0 67px;
}
#wrapper3 {
  margin-bottom: 25px !important;
}
.caption-text hr {
  width: 50px;
  background-color: #696f70;
}



/****************************************************************** SECOND SECTION ********************************************************************/
#text-slider .slider-sinlge{
  margin: 0 auto;
  position: relative;

}
#text-slider h3 {
  margin: 50px auto 20px;
}
#text-slider .btn-rm {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 50px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;

}
#text-slider p {
  font-family: 'Lato Semibold';
}

 #text-slider .readmbtn {
  margin: 25px auto;
  text-align: center;
  width: 30%;
}
#text-slider .slider-sinlge .slick-next {
  position: absolute;
  right: -45px;
  top: 25%;
  border: 1px solid #c9cac9;
  border-radius: 50%;
  z-index: 99;
  background: url('../images/arrow-r.png') no-repeat center !important;
  color: transparent;
  outline: none !important;
  cursor: pointer;
  width: 39px;
  height: 39px;
}

#text-slider .slider-sinlge .slick-prev {
  position: absolute;
  left: -45px;
  top: 25%;
  border: 1px solid #c9cac9;
  border-radius: 50%;
  z-index: 99;
  background: url('../images/arrow-l.png') no-repeat center !important;
  color: transparent;
  outline: none !important;
  cursor: pointer;
  width: 39px;
  height: 39px;
}
/****************************************************************** THIRD SECTION ********************************************************************/

#how-works {
  margin: 150px auto 50px;
  height: 100%;

}
#how-works h6 {
  font-size: 16px;
  color: #060706;
  font-family: 'Lato Medium';
  font-weight: 600;
  text-align: center;
}
#how-works p {
  font-size: 14px;
  font-family: 'Lato Regular';

}
#how-works .cirlces-block {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}
#how-works .circles {
  text-align: center;
  margin-bottom: 30px;
}
#how-works .cirlces-block .cicle-ellipse {
  margin: 0 auto 15px;
  text-align: center;
  line-height: 120px;
  height: 120px;
  width: 120px;
  border: 3px solid #f0d1d3;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-radius: 50%;
  box-shadow: 1px 0px 1px 0px #f0d1d3;
  font-size: 40px;
}
#how-works .get-concult {
  text-align: center;
}
#how-works .get-concult .btn-get {
  text-transform: uppercase;
  color: #4996ca;
  border: 1px solid #4996ca;
  padding: 0 30px;
  border-radius: 0;

}
/****************************************************************** FOURTH SECTION ********************************************************************/
#whyus {
  background-color: #f9f9f9;
  height: 100%;
  padding-top: 50px;
}
#whyus .circlesofus {
  border: 2px solid #4996ca;
  border-radius: 50%;
  width: 155px;
  height: 155px;
  margin: 0 50px;
}
#whyus .purple ,
#whyus .purple .inside-circle-text p>span{
  color: #ea78fd;
  border-color: #ea78fd;
}
#whyus .green ,
#whyus .green .inside-circle-text p>span{
  color: #5abc53;
  border-color: #5abc53;
}
#whyus .yellow ,
#whyus .yellow .inside-circle-text p>span{
  color: #edc42c;
  border-color: #edc42c;
}
#whyus .green .inside-circle-text {
  position: absolute;
  right: 8px;
  top: 12px;
  background-color: #f9f9f9;
  height: 125px;
  width: 327px;
}
#whyus .green .inside-circle-text  .top-text,
#whyus .yellow .inside-circle-text  .top-text{
  text-align: inherit;
}
#whyus .circles-whyus {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}
#whyus .inside-circle-text {
  position: absolute;
  right: 146px;
  top: 12px;
  background-color: #f9f9f9;
  height: 125px;
  width: 190px;
}
#whyus .inside-circle-text p{
  margin: 0;
  color: #000;
  font-family: 'Lato Regular';
}
#whyus .inside-circle-text p>span{
  font-family: 'Lato';
  margin: 0;
  color: #4996ca;
  font-size: 50px;
}

#whyus .inside-circle-text .top-text{
  text-align: center;
  font-family: 'Lato Bold'
}
#whyus .whyus-circle-block {
  position: relative;
  margin-bottom: 30px;
}

/****************************************************************** FIFTH SECTION ********************************************************************/
#getfollowers{
  height: 100%;
  margin-bottom: 70px;
}
#getfollowers .caption-text .untitle {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    font-family: 'Lato Black';
    margin: 0 !important;
}
#getfollowers  .caption-text {
    text-align: center;
    margin-top: 50px;
}
#getfollowers  .caption-text .subtitle {
  font-weight: 400;
  font-family: 'Lato Medium';
}
#getfollowers  .caption-text h3{
    margin-bottom: 20px;
}
#getfollowers .our-services{
  margin-top: 30px;
}
#getfollowers .service-content {
  text-align: -webkit-center;

}
#getfollowers .service-content .service-circle {
  height: 120px;
  width: 120px;
  border: 1px solid #509acc;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
}

#getfollowers .service-content .sevrvice-text {
  font-weight: bold;
  margin-top: 30px;
}
#getfollowers .service-content .sevrvice-text p{
  font-family: 'Lato Bold'
}
#getfollowers .service-button {
  margin-top: 60px;
  text-align: center;
}
#getfollowers .service-button .btn-service-get {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 50px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;
}
/****************************************************************** SIXTH SECTION ********************************************************************/
#audienceinsta {
  height: 100%;
  background-color: #f9f9f9;
  padding: 70px 0;
}
#audienceinsta .caption-text {
  margin-bottom: 50px;
}
#audienceinsta .audiencestatics .ie-chart-statics {
  position: relative;
}

#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
  position: absolute;
  top: 35%;
  color: #fff;
  margin: 0 !important;
  width: 145px;
  right: 55%;
  text-transform: uppercase;
  font-family: 'Lato Black';

}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta span{
  font-size: 21px;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta strong,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta strong{
  font-size: 40px;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta {
  position: absolute;
  top: 35%;
  color: #fff;
  margin: 0 !important;
  width: 150px;
  left: 57%;
  text-transform: uppercase;
  font-family: 'Lato Black';
}
#audienceinsta .audiencestatics .audience-chart p {
  padding-top: 17%;
}
#audienceinsta .audiencestatics .audience-chart {
  padding: 0 !important
}
#audienceinsta .audiencestatics .audience-chart .col-sm-6 {

}

#audienceinsta .audiencestatics .followers-sets {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#audienceinsta .audience-button{
  text-align: right;
}
#audienceinsta .audience-button .btn-rm {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 30px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;

}
#audienceinsta .audiencestatics .followers-sets div {
  margin-bottom: 20px;
}
#audienceinsta .audiencestatics .followers-sets div img{
  padding: 0 20px 20px;
}
#audienceinsta .audiencestatics .followers-sets div p {
  display: inline-block;
  font-family: 'Lato Medium';
}
#audienceinsta .audiencestatics .set-text {
  width: 70%;
  padding-top: 10px;
  margin: 0 !important;
}
#audienceinsta .audiencestatics .information-content {
  margin-left: 1.3333%;
}
#audienceinsta .audiencestatics .information-content img{
  padding: 0 20px 20px;
}
#audienceinsta .audiencestatics .information-content p{
  display: inline-block;
  font-family: 'Lato Medium';
}
/****************************************************************** SEVENTH SECTION *******************************************************************/
#criteries {
  background: #4996ca;
  padding-top: 70px;
}
#criteries .caption-text {
  margin-bottom: 50px;
}
#criteries .caption-text h3 {
  color: #fff;
  font-family: 'Lato Black';
}
#criteries .caption-text p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 0 !important;
  font-family: 'Lato Black';

}
#criteries .criteries-block {
  -webkit-flex-wrap: wrap;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
}
#criteries .criteries-block .criteris-content {
  text-align: center;
  margin-bottom: 30px;
}
#criteries .criteries-block .criteris-content .criteries-text h6{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lato Bold';
}
#criteries .criteries-block .criteris-content .criteries-text p{
  color: #fff;
  text-align: start;
  font-family: 'Lato Medium';
}
#criteries .criteries-block .criteris-content .criteries-icon {
  margin-bottom: 25px;
}
/****************************************************************** SEVENTH SECTION *******************************************************************/
#ourpartners {
  height: 100%;
  background-color: #f9f9f9;
  padding: 70px 0;
}
#ourpartners .caption-text {
  margin-bottom: 50px;
}
#ourpartners .partners-block {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}
#ourpartners .partners-block .partners-content {
  margin-bottom: 50px;
}
.mobile-version {
  display: none !important;
}
/******************************************************************   RESPONSIVE    ***************************************************************/
@media screen and (max-width: 476px)
{
  #free-account #regForm .buttons-arrows {
    padding: 0;
  }
  #free-account #regForm {
    width: 100%;
  }
  #free-account #regForm #wrapper3 .inst-btn {
    width: 160px;
  }
  #text-slider .slider-sinlge .slick-next {
    position: relative;
    left: 25%;
  }
  #text-slider .slider-sinlge .slick-prev {
  clear: both;
  bottom: 0;
  left: 25%;
  right: auto;
  top: unset;
  }
  #text-slider .readmbtn {
    margin: 20px auto 10px;
    width: 100%
  }
  #whyus .inside-circle-text {
    right: 36px;
  }
  #whyus .green .inside-circle-text {
    right: 4%;
    top: -3px;
    height: 200px;
    width: 203px;
  }
  .d-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    right: 52%
  }
  #audienceinsta .audiencestatics .pie-chart-statics .women-insta {
    left: 54%;
  }
  #audienceinsta .audiencestatics .pie-chart-statics .women-insta p strong {
    padding-left: 25px;
  }
  #audienceinsta .audiencestatics .audience-chart .col-sm-6 {
    width: 60%;
    margin: 0 auto;
  }
  #audienceinsta .audiencestatics .followers-sets div p {
    margin: 0 auto;
    display: block;
  }
  #audienceinsta .audiencestatics .followers-sets {
    text-align: center;
  }
  #audienceinsta .audiencestatics .set-text {
    width: 100%;
  }
  #audienceinsta .audiencestatics .information-content {
    text-align: center;
    margin: 10px 0;
  }
  #audienceinsta .audience-button {
    margin: 20px auto;
    text-align: center;
  }
  .desktop-version {
    display: none !important;
  }
  .mobile-version {
    display: block !important;
  }

}
@media screen and (max-width: 768px){
  .d-flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  #audienceinsta .audiencestatics .audience-chart .col-sm-6 {
    margin: auto;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {

}

}
@media screen and (min-width: 768px) and (max-width: 996px) {
  .bottom-cont h3 {
    margin-top: 0 !important;
  }
  .banner-content {
    max-width: 50% !important;
    flex: none !important;
  }
  #insta-banner .banner-content {
    padding-left: 0 !important;
    padding-top: 0 !important;
}
  #whyus .inside-circle-text {
    position: absolute;
    right: 71px;
    top: 12px;
    background-color: #f9f9f9;
    height: 125px;
    width: 190px;
}
#whyus .green .inside-circle-text {
    position: absolute;
    right: -63px;
    top: 12px;
    background-color: #f9f9f9;
    height: 125px;
    width: 327px;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta strong,
#audienceinsta .audiencestatics .pie-chart-statics .women-insta strong {
    font-size: 33px;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta,
#audienceinsta .audiencestatics .pie-chart-statics .men-insta  {
  top: 10%;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    top: 10%;
    width: 135px;
    right: 26%;
}
#audienceinsta .audiencestatics .pie-chart-statics .women-insta {
    top: 10%;
    width: 100px;
    left: 57%;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span, #audienceinsta .audiencestatics .pie-chart-statics .women-insta span {
    font-size: 10px;
}
.form-input {
  width: 69% !important;
}
}
#insta-banner {
  background-color: #000;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 70px 0;
}
#insta-banner .banner-iamges img{
  width: 100%;
  height: 100%;
}
#insta-banner .banner-content h1 {
  font-size: 30px;
  font-weight: bold;
  color: #4996ca;
  font-family: 'Lato Bold';
  margin-bottom: 50px;

}
#insta-banner .banner-content p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Lato Regular';
  border-left: 1px solid #4996ca;
  padding-left: 10px;
}
#insta-banner .banner-content {
  padding-left: 70px;
  padding-top: 75px;
}
#bottom {
  background-color: #060606;
}
.phone {
  margin-left: 2rem;
  margin-top: 5rem;
  position: relative;
  color: #e9e9e7;
  font-family: 'Lato Regular';
  font-weight: 400;
  display: grid;
  margin-bottom: 40px;
  font-size: 25px;
}
.where {
  width: 212px;
  color: #e9e9e7;
  font-size: 16px;
  color: #f0ebe8;
  font-family: 'Lato Regular';
  font-weight: 400;
  font-weight: 400;
  margin-left: 2rem;
  position: relative;
}
.phone::before {
    content: url(../images/call-answer.png);
    display: inline-block;
    left: -4rem;
    top: .5rem;
    position: absolute;
}
.where::before {
    content: url(../images/location.png);
    display: inline-block;
    left: -4rem;
    top: 0rem;
    position: absolute;
}
.bottom-form-bg {
    width: 650px;
    height: 284px;
    background-color: #171715;
    background-image: linear-gradient(to bottom, #000000 0%, #d0d0d0 100%);
    opacity: 0.1;
    margin-top: ;
}
.bottom-cont h3 {
    margin-top: 4rem;
    color: #4996ca;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Lato Bold';
  }
.btm-form {
  position: absolute;
  margin-top: -18rem;
  text-align: center;
}
.form-input {
    background-color: transparent;
    padding-left: 2rem;
    width: 509px;
    height: 49px;
    border: 1px solid #f2f1f1;
    font-size: 16px;
    color: #d2d2d2;
    outline: none;
    margin-top: 2rem;
}
.send {
  background-color: transparent;
  text-transform: uppercase;
  padding: 0 30px;
  border: 1px solid #4996ca;
  border-radius: 0 !important;
  color: #4996ca;
  margin-top: 25px;
}
.bottom-row {
  margin-right: 0 !important;
}
.bf-text p {
  margin: 0 !important;
}
@media (max-width: 800px){

.bottom-row {
  padding-left: 30px;
}
.bottom-form-bg {
    width: 100%;
}

.where {
    width: 283px !important;
    margin: 0 auto!important;
}
.phone {
    width: 282px!important;
    margin: 5rem auto 1rem!important;
}
.btn-rm,
.btn-service-get,
.btn-get,
.send {
  padding: 0 0 !important;

}
#whyus .inside-circle-text {
    height: 114px;
    width: 190px;
    top: 23px;

}
#whyus .green .inside-circle-text {
    right: 2%;
    top: 19px;
    height: 120px;
    width: 200px;
}
#whyus .inside-circle-text p>span {
    font-size: 25px;
}
.send {
  margin-top: 25px !important;
}
#regForm {
  width: 100% !important;
}

}
@media (max-width: 700px)
{
  .form-input {
      width: auto;
  }
  .bottom-cont h3 {
    width: auto;
    font-size: 16px!important;
}
.contacts {
    margin-left: 60px;
}
#insta-banner .banner-content p {
  border: none;
}
#insta-banner .banner-content {
    padding-left: 18px;
    padding-top: 75px;
}
#getfollowers .service-button {
    margin-top: 30px;
    text-align: center;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta span, #audienceinsta .audiencestatics .pie-chart-statics .women-insta span {
    font-size: 17px;
}
#audienceinsta .audiencestatics .pie-chart-statics .men-insta {
    right: 49%;
}
.bottom-row .col-lg-3 img {
    display: none;
}
}

@media screen and (max-width: 374px) {
  .where {
    width: 257px !important;
  }
  .phone {
    width: 266px!important;
    margin: 5rem auto 1rem!important;
}
}
